In [1]:
courses = ['Python', 'Pine', 'AI']
a = [1,2,3]
b = [1,2,3]
nums = [1,2,3,4,5]

# Dictionary

In [2]:
student = {}
student = {'Name':'Ali', 'Age':25, 'Courses':courses}
print(student)

{'Name': 'Ali', 'Age': 25, 'Courses': ['Python', 'Pine', 'AI']}

In [3]:
print(student.keys())

dict_keys(['Name', 'Age', 'Courses'])

In [4]:
print(student.values())

dict_values(['Ali', 25, ['Python', 'Pine', 'AI']])

In [5]:
print(student.items())

dict_items([('Name', 'Ali'), ('Age', 25), ('Courses', ['Python', 'Pine', 'AI'])])

In [6]:
print(student['Name'])

Ali

In [7]:
print(student['Phone'])

KeyError: 'Phone'

In [8]:
print(student.get('Name'))

Ali

In [9]:
print(student.get('Phone'))

None

In [11]:
print(student.get('Phone', 0))

0

In [12]:
student['Phone'] = '0912-12345678'
print(student)

{'Name': 'Ali', 'Age': 25, 'Courses': ['Python', 'Pine', 'AI'], 'Phone': '0912-12345678'}

In [13]:
student['Name'] = 'Reza'
print(student)

{'Name': 'Reza', 'Age': 25, 'Courses': ['Python', 'Pine', 'AI'], 'Phone': '0912-12345678'}

In [14]:
student = {'Name' : 'Ali', 'Age' : 25, 'Courses' : ['Python', 'Pine', 'AI']}
student.update({'Name':'Reza', 'Age':45, 'Phone':'0912-12345678'})
print(student)

{'Name': 'Reza', 'Age': 45, 'Courses': ['Python', 'Pine', 'AI'], 'Phone': '0912-12345678'}

In [15]:
student = {'Name' : 'Ali', 'Age' : 25, 'Courses' : ['Python', 'Pine', 'AI']}
del student['Age']
print(student)

{'Name': 'Ali', 'Courses': ['Python', 'Pine', 'AI']}

In [16]:
student = {'Name' : 'Ali', 'Age' : 25, 'Courses' : ['Python', 'Pine', 'AI']}
ff = student.pop('Age')
print(ff)
print(student)

25
{'Name': 'Ali', 'Courses': ['Python', 'Pine', 'AI']}

In [17]:
print(len(student))

2

Telephone Book :
Entry ==> Dictionary : Name, FamilyName, Phone, Address, Note, CellNumber
Book ==> List of Entry

[{}, {}, {}, {}]

# Conditions

    True, False
    
    >
    <
    >=
    <=
    ==
    !=
    
    is
    
    and, or, not

In [22]:
print(2>3)

False

In [23]:
print (2==3)

False

In [24]:
print (2<=3)

True

In [25]:
print (2 != 3)

True

In [27]:
f = 2 > 3 #False
print(f)

False

In [28]:
if 2 < 3 :
    print("Yes")

Yes

In [33]:
if 2 > 3 :
    print ('2 > 3')
else :
    print('2 is not greater than 3')

2 is not greater than 3

In [37]:
language = 'Java'
if language == 'Python':
    print('Language is Python')
elif language == 'Java':
    print('Language is Java')
else:
    print('Not known')

Language is Java

In [39]:
num1 = 12
num2 = 23

if num1==12 and num2==25:
    print('Yes')
else:
    print('No')

No

In [41]:
if num1==34 or num2==23:
    print('Yes')
else:
    print('No')

Yes

In [43]:
val = False
if not val:
    print('Yes')
else:
    print('No')

Yes

In [44]:
val2 = True
if not val2:
    print('Yes')
else:
    print('No')

No

In [45]:
print(a==b)

True

In [47]:
print(id(a))
print(id(b))
print(a is b) # check if both are same object in memory !!! in other words, both have same ID

2810309474888
2810310057928
False

# Loops

In [48]:
for item in courses :
    print(item)

Python
Pine
AI

In [51]:
i = 0
for item in courses:
    print(i, item)
    i += 1

print('-----------------')
    
for i, item in enumerate(courses):
    print(i, item)
    
print('-----------------')
    
for i, item in enumerate(courses, start = 6):
    print(i, item)

0 Python
1 Pine
2 AI
-----------------
0 Python
1 Pine
2 AI
-----------------
6 Python
7 Pine
8 AI

In [53]:
student = {'Name':'Ali', 'Age':25, 'Courses':courses}
for k in student:
    print(k)

Name
Age
Courses

In [56]:
for v in student.values():
    print(v)

Ali
25
['Python', 'Pine', 'AI']

In [57]:
for i in student.items():
    print(i)

('Name', 'Ali')
('Age', 25)
('Courses', ['Python', 'Pine', 'AI'])

In [58]:
for k,v in student.items():
    print(k,v)

Name Ali
Age 25
Courses ['Python', 'Pine', 'AI']

In [69]:
for i,num in enumerate(nums):
    print(i, num)

0 1
1 2
2 3
3 4
4 5

In [59]:
for num in nums:
    if num==3:
        print('found')
        break
    print(num)

1
2
found

In [60]:
for num in nums:
    if num==3:
        print('found')
        continue
    print(num)

1
2
found
4
5

In [61]:
for num in nums:
    for l in 'abc':
        print(num,l)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [62]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [63]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#infinit loop, avoide it !!!!!
x = 0
while x < 10:
    print(x)

In [66]:
x=0
while x<10:
    print(x)
    x +=1

0
1
2
3
4
5
6
7
8
9

In [67]:
x =0
while x<10:
    if x == 5:
        break
    print(x)
    x +=1

0
1
2
3
4

In [68]:
x =0
while True:
    if x == 5:
        break
    print(x)
    x +=1

0
1
2
3
4

In [ ]:
pair = Bitmex.getPairs() # returns a set ! no orders !
x=0
while pair[x] != "XBTUSD"
    x+=1
    
myPair = pair[x]

### C#
list = candles()
for (i = 0; i < list.length(); i++)
{
    print(list[i])
}

foreach (var l in list)
    print(l)