# NUMBERS

In [1]:
num = 3
print(type(num))

<class 'int'>

In [2]:
num = 3.14159
print(type(num))

<class 'float'>

In [3]:
print(2 + 3)

5

In [4]:
print(2 / 3)

0.6666666666666666

In [5]:
print(2 - 3)

-1

In [6]:
print (2 * 3)

6

In [7]:
print(3 / 2)
print(3 // 2)

1.5
1

In [8]:
print(3 ** 2)

9

In [9]:
print (3 % 2)

1

In [11]:
print(354 % 3)

0

In [12]:
print(354 % 5)

4

### Order of Operations

In [ ]:
*/% ** // ===> + -
Right to Left
()

In [13]:
print (3 * 3 - 1)

8

In [14]:
print(3 * (3 - 1))

6

In [15]:
a = abs(-4)
print(a)

4

In [17]:
b = round(3.14159)
print(b)
c = round(3.67)
print(c)
d = round(-3.14159)
print(d)
e = round(-3.67)
print(e)

3
4
-3
-4

In [19]:
b = round(3.14159, 3)
print(b)
c = round(3.67, 3)
print(c)
d = round(-3.14159, 3)
print(d)
e = round(-3.67, 3)
print(e)

3.142
3.67
-3.142
-3.67

In [21]:
num1 = '2'
num2 = '3.14159'
print(num1 + num2)

23.14159

In [29]:
#casting
g = (int(num1) + float(num2))
print(g)
print(type(g))
print(type(str(g)))
print(str(g)[2])

5.14159
<class 'float'>
<class 'str'>
1

# COLLECTIONS
1. List
2. Tuple
3. Set
4. Dictionary

### List

In [43]:
courses = []
courses = list()
courses = ['Phyton','Pine','AI','TA']
classes = ['History', 'Math', 'Programming', 'Physics']

mixed = ['test', 4]
comp = ['test', 4, ['Ali', 7]]

In [31]:
print(type(courses))

<class 'list'>

In [32]:
print(len(courses))

4

In [33]:
print(courses[0])

Phyton

In [34]:
print(courses[0:2])

['Phyton', 'Pine']

In [36]:
print(courses[2:])

['AI', 'TA']

In [38]:
print(courses[:3])

['Phyton', 'Pine', 'AI']

In [39]:
print(courses[-1])

TA

In [40]:
print(courses[-3:])

['Pine', 'AI', 'TA']

In [42]:
print(courses[-3:-1])

['Pine', 'AI']

In [44]:
print(courses)

['Phyton', 'Pine', 'AI', 'TA']

In [45]:
courses.append('Charting')
print(courses)

['Phyton', 'Pine', 'AI', 'TA', 'Charting']

In [47]:
courses = ['Phyton','Pine','AI','TA']
courses.insert(2, 'Charting')
print(courses)

['Phyton', 'Pine', 'Charting', 'AI', 'TA']

In [52]:
courses = ['Phyton','Pine','AI','TA']
courses.extend(classes)
print(courses)

['Phyton', 'Pine', 'AI', 'TA', 'History', 'Math', 'Programming', 'Physics']

In [53]:
courses = ['Phyton','Pine','AI','TA']
ff = courses.pop()
print(courses)
print(ff)

['Phyton', 'Pine', 'AI']
TA

In [54]:
courses = ['Phyton','Pine','AI','TA']
courses.reverse()
print(courses)

['TA', 'AI', 'Pine', 'Phyton']

In [55]:
courses = ['Phyton','Pine','AI','TA']
courses.sort()
print(courses)

['AI', 'Phyton', 'Pine', 'TA']

In [56]:
courses = ['Phyton','Pine','AI','TA']
courses.sort(reverse=True)
print(courses)

['TA', 'Pine', 'Phyton', 'AI']

In [57]:
nums = [1,5,3,7,45.34,324,85.278]
nums.sort()
print(nums)
nums = [1,5,3,7,45.34,324,85.278]
nums.sort(reverse=True)
print(nums)

[1, 3, 5, 7, 45.34, 85.278, 324]
[324, 85.278, 45.34, 7, 5, 3, 1]

In [58]:
comp = ['test', 4, ['Ali', 7]]
comp.sort()
print(nums)
comp = ['test', 4, ['Ali', 7]]
comp.sort(reverse=True)
print(nums)

TypeError: '<' not supported between instances of 'int' and 'str'

In [61]:
nums = [1,5,3,7,45.34,324,85.278]
num34 = sorted(nums)
print(nums)
print(num34)
num43 = sorted(nums, reverse=True)
print(num43)

[1, 5, 3, 7, 45.34, 324, 85.278]
[1, 3, 5, 7, 45.34, 85.278, 324]
[324, 85.278, 45.34, 7, 5, 3, 1]

In [65]:
courses = ['Phyton','Pine','AI','TA']
hj = ','.join(courses)
print(hj)

Phyton,Pine,AI,TA

In [64]:
fg = hj.split(',')
print(fg)

['Phyton', 'Pine', 'AI', 'TA']

In [73]:
list2 = ['Phyton','Pine','AI','TA']
courses = list2 #soft copy
list3 = courses.copy() #hard copy
list2.append('Test')
print(list2, id(list2))
print(courses, id(courses))
print(list3, id(list3))

['Phyton', 'Pine', 'AI', 'TA', 'Test'] 1685860573576
['Phyton', 'Pine', 'AI', 'TA', 'Test'] 1685860573576
['Phyton', 'Pine', 'AI', 'TA'] 1685860561480

### Tuple

In [86]:
# List that can't be modified after creation !!!!
courses = ()
courses = tuple()
courses = (['id','name'],'Phyton','Pine','AI','TA')

courses[0][0] = 'IQOptions'
print(courses)

(['IQOptions', 'name'], 'Phyton', 'Pine', 'AI', 'TA')

### Set

In [89]:
# A list that is unsorted with NO duplication on elemnts allowed !!!
#courses = {} <== this is not a set, it's a dictionary !!!
courses = set()
print(type(courses))

<class 'set'>

In [139]:
courses = {'Phyton','Pine','AI','TA'}
print(courses)

{'TA', 'Pine', 'AI', 'Phyton'}

In [148]:
courses = {'Python', 'Pine', 'AI', 'TA'}
classes = {'Python', 'Math', 'Programming', 'AI'}

print('Math', 'Math' in courses)
print('Pine', 'Pine' in courses)
print('pine', 'pine' in courses)
print('')
common = courses.intersection(classes)
print('Common', common)
difference = courses.difference(classes)
print('Differendce', difference)
uni = courses.union(classes)
print('Union', uni)

Math False
Pine True
pine False

Common {'Python', 'AI'}
Differendce {'TA', 'Pine'}
Union {'Programming', 'AI', 'Math', 'TA', 'Pine', 'Python'}